body {
  margin: 0;
  overflow: hidden;
}

.container {
  width: 300px;
  height: 200px;
  background-image: url('images/icon128.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; /* Ensure the content stays within the container */
}
.container h1{
  color: aliceblue;
}
button {
  padding: 10px;
  margin-bottom: 10px;
}
