body, html {
  width: 400px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  margin: 0;
  padding: 0;
}

.container {
  height: auto;
  width: 100%; /* This will take the full width of the body */
  height: 100%; /* This will take the full height of the body */
  background-image: url('images/icon128.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;

}

button {
  padding: 10px;
  margin-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  margin: auto;
  border-radius: 3px;
}

.form-signin h1 {
  margin-top: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.form-signin form {
  padding: 15px;
}

.form-signin form .btn {
  color: #ffffff;
}

.form-signin form .btn:hover,
.form-signin form .btn:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
}

.form-signin form .form-control:focus {
  border-color: #1169c1;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.form-signin .copyright {
  text-align: center;
  color: rgba(20, 35, 152, 0.65);
}

.form-signin .form-control {
  background: rgba(20, 23, 70, 0.9);
}

.form-signin .form-check {
  display: flex;
  align-items: center;
  color: rgb(16, 8, 8);
}

.form-signin .form-check label {
  font-size: 0.9em;
}

.form-signin .form-check input {
  margin-right: 0.5em;
}

.form-signin .form-check input:checked {
  background-color: #9ce060;
  border-color: #81c63f;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Add the glassmorphism styles directly instead of using a mixin */
.form-signin,
.form-signin h1,
.form-signin form .btn {
  background: rgba(24, 18, 18, 0.2); /* Adjust the alpha for transparency */
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
}